#main-title {
    font-family: 'Fira Code', monospace;
    text-align: center;
}

#entry-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fira Code', monospace;
    max-width: 15rem;
}